.screen {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-rows: 10fr 90fr 10fr;
    height: 100vh;
    grid-template-columns: 30fr 40fr 30fr;
    width: 100vw;
    background-color: rgb(70, 70, 70);

}

.calculator {
    display: grid;
    grid-template-rows: 10fr 80fr 20fr;
    grid-column: 2;
    grid-row: 2;
    border: 1px solid black;
    border-radius: 1em ;
    padding: 1em;
    max-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
 
.button {
    color: white;
    display: grid;
    place-items: center;
    width: 3em;
    height: 3em;
    background-color: gray;
    margin: 5px;
    border-radius: 50%;
    margin: .7em;
    cursor: pointer;
}

.display {
    display: flex;
    justify-content: flex-end;
    color: white;
    font-size: 2em;
    padding-right: 1em;
    padding: .5em;
 
}

.footer {
    display: flex;
    justify-content: center;
    color: yellow;
    height: 3em;
    place-items: center;
}

.disabled {
    background-color: rgb(61, 61, 61);
}